html {
    height:100%;

}

body {
    margin-top:0px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", Arial;
    width:100%;
    border:0px solid black;
    font-weight:400;
    background: #fff;    
}

h1 {
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 37px;
    color:#71B2AA;
}

h2 {
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    color: #777;    
}

h3 {
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 22px;
    color: #888;    
}

p {
    margin-top:0px;
    margin-bottom:0px;
    font-size: 17px;
    color: #777;
}


a {
    text-decoration: none;
}

::selection {
  background: #FFDDCD; /* WebKit/Blink Browsers FFE4CD F9D5B7 */
}
::-moz-selection {
  background: #FFDDCD; /* Gecko Browsers */
}

.logo {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 55px;
}

.logo span {
    font-weight: 700;
    color: #FF7F66;
    color: #71B2AA;
}

.padding-bottom {
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 20px;
}

